*{
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Times", sans-serif;
  font-size: 15px;
  background-color: white;
  color: black;
}
h1,
h2 {
  margin: 20px
}
header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: rgb(216, 168, 175);
  }
  
  header {
    position: fixed;
    border-bottom: 5px solid #b999c1;
    border-top: 5px solid #b999c1;
  }
  
  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 5px solid #b999c1;
    border-top: #b999c1 solid 5px;
    color: #FDF8F5;   
  }
  