/*Universal*/
*{
  margin: 0;
  padding: 0;
}



body {
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  background-color: white;
  color: black;
  padding:10px;
}

 /* Class Selectors */

li {
  display: inline;
  padding: 0px 20px 20px;
  text-decoration: none;
}

a {
  text-decoration: underline;
}

h1{
  background-color: lightblue;
  width: 130px;
  position: relative;;

}

h1,
h2{
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*Header*/

header {
    height: 30px;
    width: 130px;
    line-height: 30px;
    text-align: left;
    background-color: lightblue;
    position: absolute;
    border-bottom: 5px solid lightblue;
    border-top: 5px solid lightblue;
    border-left: 45px solid lightblue;
  }

  /* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: white;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding:10px;

}
.verticalLine {
  height: 200px;
  border-right: 3px solid darkblue;
  position:sticky;
}

  /*About Section*/

.about {
    height: 200px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: white;
    background-size: cover;
    background-position: center;
}

/*Work Section*/

.work {
  height: 200px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.flex-container-large {
  display: flex;
  background-color: white;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: stretch;
}


.flex-container-medium {
  color: black;
  width: 100px;
  height: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
 
 
}

.item-one {
  padding:2px;
  display: flex;
  flex-wrap:wrap;
  border: 2px solid black;
}

.item-two {
  padding:2px;
  display: flex;
  flex-wrap:wrap;
  border: 2px solid black
}

.item-three {
  padding:2px;
  display: flex;
  flex-wrap:wrap;
  border: 2px solid black
}

.item-four {
  padding:2px;
  display: flex;
  flex-wrap:wrap;
  border: 2px solid black
}

.item-five {
  padding:2px;
  display: flex;
  flex-wrap:wrap;
  border: 2px solid black
}

  /*Contact Me Section*/

  section {
    margin-bottom: 0;
    padding: 20px 10px 90px 10px;
    border-top: 3px ;
    background-color:  white;
  }
  .contact {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: white;
    background-size: cover;
    background-position: center;
  }

   /*Footer */

  footer {
    position: absolute;
    width: 100%;
    background-color: lightblue;
    margin-top: 0;
    bottom: 0;
    border-bottom: 5px solid black;
    border-top: black solid 5px;
  }
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row  {   
    flex-direction: column;
  }
}